---
http_interactions:
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/auth/token/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jan 2022 19:05:01 GMT
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token/
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "wJf39n9CpGOY3XVytrtCsooErb0qHw", "expires_in": 36000,
        "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
        fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
        user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
        user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
        user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
        user/DiagnosticReport.read user/DiagnosticReport.write user/Diagnosti[...]
- request:
    method: get
    uri: https://fhir-training.canvasmedical.com/Slot?action=index&controller=slot&patient=Patient/1d545066432b485e83011f6c97f2c00c&patient_key=7d22d422-7e11-11ec-90d6-0242ac120003&schedule=Schedule/Location.1-Staff.c2ff4546548e46ab8959af887b563eab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wJf39n9CpGOY3XVytrtCsooErb0qHw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"resourceType":"Bundle","type":"searchset","total":145,"entry":[{"resource":{"resourceType":"Slot","schedule":{"reference":"Schedule/Location.1-Staff.c2ff4546548e46ab8959af887b563eab"},"status":"free","start":"2022-01-25T10:00:00-08:00","end":"2022-01-25T10:20:00-08:00"}},{"resource":{"resourceType":"Slot","schedule":{"reference":"Schedule/Location.1-Staff.c2ff4546548e46ab8959af887b563eab"},"status":"free","start":"2022-01-25T10:15:00-08:00","end":"2022-01-25T10:35:00-08:00"}},{"resource":{"resourceType":"Slot","schedule":{"reference":"Schedule/Location.1-Staff.c2ff4546548e46ab8959af887b563eab"},"status":"free","start":"2022-01-25T10:20:00-08:00","end":"2022-01-25T10:40:00-08:00"}},{"resource":{"resourceType":"Slot","schedule":{"refe[...]
