---
http_interactions:
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/auth/token/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Feb 2022 19:34:09 GMT
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token/
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "7rRJuy0uCvXx9z7IgcMDTixJ3v5LdR", "expires_in": 36000,
        "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
        fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
        user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
        user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
        user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
        user/DiagnosticReport.read user/DiagnosticReport.write user/Diagnosti[...]
- request:
    method: get
    uri: https://fhir-training.canvasmedical.com/Practitioner
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7rRJuy0uCvXx9z7IgcMDTixJ3v5LdR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"resourceType":"Bundle","type":"searchset","total":6,"entry":[{"resource":{"resourceType":"Practitioner","id":"c2ff4546548e46ab8959af887b563eab","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Saharsh
        Patel MD","family":"Patel","given":["Saharsh"]}]}},{"resource":{"resourceType":"Practitioner","id":"fc87cbb2525f4c5eb50294f620c7a15e","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Michael
        Zimmerman MD","family":"Zimmerman","given":["Michael"]}]}},{"resource":{"resourceType":"Practitioner","id":"6c20b7152cf7421791c5ab4113060b3f","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Annalies
        Hines NP","family":"Hines","given":["Annalies"]}]}},{"resource":{"resourceType":"Practitioner","id":"883f7147517e444fb746cdac3860b0dc","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Sean
        Connolly MD","family":"Connolly","given":["Sean"]}]}},{"resource":{"resourceType":"Practitioner","id":"67483652de9a4547b3db81e20e811940","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Deepti
        Koranne MD","family":"Koranne","given":["Deepti"]}]}},{"resource":{"resourceType":"Practitioner","id":"ec51485ccb1e4ecbb22bab731e23eda2","identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1111155556"}],"name":[{"use":"usual","text":"Nneka
        Cruz MD","family":"Cruz","given":["Nneka"]}]}}]}'
  recorded_at: Tue, 15 Feb 2022 19:34:10 GMT
recorded_with: VCR 6.0.0
