---
http_interactions:
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/auth/token/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Mar 2022 23:50:42 GMT
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token/
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "IuzFt5MFkG5Ujw24BMSLFufNLZR4ha", "expires_in": 36000,
        "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
        fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
        user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
        user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
        user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
        user/DiagnosticReport.read user/DiagnosticReport.write user/Diagnosti[...]
- request:
    method: get
    uri: https://fhir-training.canvasmedical.com/Schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer IuzFt5MFkG5Ujw24BMSLFufNLZR4ha
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"resourceType":"Bundle","type":"searchset","total":18,"entry":[{"resource":{"resourceType":"Schedule","id":"Location.1-Staff.c2ff4546548e46ab8959af887b563eab","text":{"div":"<div
        xmlns=\"http://www.w3.org/1999/xhtml\">Schedule for Saharsh Patel MD at Training
        Clinic</div>"},"actor":[{"reference":"Practitioner/c2ff4546548e46ab8959af887b563eab"}],"comment":"Schedule
        for Saharsh Patel MD at Training Clinic"}},{"resource":{"resourceType":"Schedule","id":"Location.1-Staff.fc87cbb2525f4c5eb50294f620c7a15e","text":{"div":"<div
        xmlns=\"http://www.w3.org/1999/xhtml\">Schedule for Michael Zimmerman MD at
        Training Clinic</div>"},"actor":[{"reference":"Practitioner/fc87cbb2525f4c5eb50294f620c7a15e"}],"comment":"Schedule
        for Michael Zimmerman MD at Training Clinic"}},{"resource":{"resourceType":"Schedule","id":"Location.1-Staf[...]
