---
http_interactions:
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/auth/token/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Mar 2022 23:50:45 GMT
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token/
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "qGcGZNQOhK99Qg7dSF5iavPeWLx9pE", "expires_in": 36000,
        "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
        fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
        user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
        user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
        user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
        user/DiagnosticReport.read user/DiagnosticReport.write user/Diagnosti[...]
- request:
    method: put
    uri: https://fhir-training.canvasmedical.com/Appointment/e79835ff-4261-4e39-a399-9861272cfd89
    body:
      encoding: UTF-8
      string: |
        {
            "resource": {
                "resourceType": "Appointment",
                "status": "booked",
                "appointmentType": {
                    "coding": [
                        {
                            "system": "http://snomed.info/sct",
                            "code": "448337001",
                            "display": "Telemedicine consultation with patient (procedure)"
                        }
                    ]
                },
                "description": "Weekly check-in test update",
                "supportingInformation" : [
                  {
                    "reference" : "Location/1"
                  }
                ],
                "start": "2021-03-16T13:30:00.000Z",
                "end": "2021-03-16T14:00:00.000Z",
                "participant": [
                    {
                        "actor": {
                            "reference": "Practitioner/c2ff4546548e46ab8959af887b563eab"
                        },
                        "status": "accepted"
                    },
                    {
                        "actor": {
                            "reference": "Patient/cf10ff9d14d0429cb5bb7040611d1a24"
                        },
                        "status": "accepted"
                    }
                ]
            }
          }
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer qGcGZNQOhK99Qg7dSF5iavPeWLx9pE
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 04 Mar 2022 23:50:46 GMT
      Etag:
      - W/"1"
      Location:
      - http://fhir-training.canvasmedical.com/Appointment/e79835ff-4261-4e39-a399-9861272cfd89/_history/1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Mar 2022 23:50:46 GMT
recorded_with: VCR 6.0.0
