---
http_interactions:
  - request:
      method: post
      uri: https://training.canvasmedical.com/auth/token
      body:
        encoding: UTF-8
        string: "client_id={{ENV["CLIENT_ID"]}}&client_secret={{{{ENV["CLIENT_SECRET"]}}}}&grant_type=client_credentials"
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 301
        message: Moved Permanently
      headers:
        Content-Type:
          - text/html; charset=utf-8
        Location:
          - "/auth/token/"
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Tue, 25 Jan 2022 19:05:00 GMT
  - request:
      method: post
      uri: https://training.canvasmedical.com/auth/token/
      body:
        encoding: UTF-8
        string: "client_id={{ENV["CLIENT_ID"]}}&client_secret={{ENV["CLIENT_SECRET"]}}&grant_type=client_credentials
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"access_token": "{{ENV["ACCESS_TOKEN"]}}", "expires_in": 36000,
          "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
          fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
          user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
          user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
          user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
          user/DiagnosticReport.read user/DiagnosticReport.write user[...]
  - request:
      method: get
      uri: https://fhir-training.canvasmedical.com/Appointment?action=index&controller=appointment&patient=Patient/cf10ff9d14d0429cb5bb7040611d1a24&patient_key=7d22d422-7e11-11ec-90d6-0242ac120003
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - "Bearer {{ENV["API_KEY"]}}"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/fhir+json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string:
          '{"resourceType":"Bundle","type":"searchset","total":11,"entry":[{"resource":{"resourceType":"Appointment","id":"e79835ff-4261-4e39-a399-9861272cfd89","contained":[{"resourceType":"Endpoint","id":"appointment-meeting-endpoint-0","status":"active","connectionType":{"code":"https"},"payloadType":[{"coding":[{"code":"video-call"}]}],"address":"https://canvasmedical.zoom.us/my/ceciliaorta"}],"status":"booked","appointmentType":{"coding":[{"system":"http://snomed.info/sct","code":"448337001","display":"Telemedicine
          consultation with patient (procedure)"}]},"description":"Weekly check-in test
          update","supportingInformation":[{"reference":"Location/1"},{"reference":"#appointment-meeting-endpoint-0","type":"Endpoint"}],"start":"2021-03-16T13:30:00.000Z","end":"2021-03-16T14:00:00.000Z","participant":[{"actor":{"reference":"Practitioner/c2ff4546548e46ab8959af887b563eab"},"status":"accepted"},{"actor":{"reference":"Patient/cf10ff9d14d0429cb5bb7040611d1a24"},"status":"accepted"}]}},{"resource":{"resourceType":"Appointment","id":"ee739de8-4d21-4233-8dd7-0e676a3edd79","contained":[{"resourceType":"Endpoint","id":"appointment-meeting-endpoint-1","status":"active","connectionType":{"code":"https"},"payloadType":[{"coding":[{"code":"video-call"}]}],"address":"https://canvasmedical.zoom.us/my/ceciliaorta"}],"[...]
