---
http_interactions:
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/auth/token/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jan 2022 19:17:25 GMT
- request:
    method: post
    uri: https://training.canvasmedical.com/auth/token/
    body:
      encoding: UTF-8
      string: client_id=UUanxS96psdoNBbqeERZ7zNHq3I8vSkwErSHRfVK&client_secret=mgbariVQAJNnoyu8hSX2skSwZwzZ6KraQQOCu0x3muNk6jsqNEOwp7lVJSzneCBfqSQF6qhv0kP66JjBMlrXxeifdPPhO8hbviOa1htSbNm4BMQPfmfmJMRyrrxS83mh&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "Y4qOatLnvfFOu1lPhN2vCVKB0ip1Nl", "expires_in": 36000,
        "token_type": "Bearer", "scope": "launch launch/patient offline_access openid
        fhirUser user/*.read user/*.write user/*.* user/AllergyIntolerance.read user/AllergyIntolerance.write
        user/AllergyIntolerance.* user/CarePlan.read user/CarePlan.write user/CarePlan.*
        user/CareTeam.read user/CareTeam.write user/CareTeam.* user/Condition.read
        user/Condition.write user/Condition.* user/Device.read user/Device.write user/Device.*
        user/DiagnosticReport.read user/DiagnosticReport.write user/Diagnosti[...]
- request:
    method: post
    uri: https://fhir-training.canvasmedical.com/Appointment
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "resource": {
              "resourceType": "Appointment",
              "status": "booked",
              "appointmentType": {
                  "coding": [
                      {
                          "system": "http://snomed.info/sct",
                          "code": "448337001",
                          "display": "Telemedicine consultation with patient (procedure)"
                      }
                  ]
              },
              "description": "Weekly check-in.",
              "supportingInformation" : [
                {
                  "reference" : "Location/1"
                }
              ],
              "start": "2021-03-29T13:30:00.000Z",
              "end": "2021-03-29T14:00:00.000Z",
              "participant": [
                  {
                      "actor": {
                          "reference": "Practitioner/c2ff4546548e46ab8959af887b563eab"
                      },
                      "status": "accepted"
                  },
                  {
                      "actor": {
                          "reference": "Patient/cf10ff9d14d0429cb5bb7040611d1a24"
                      },
                      "status": "accepted"
                  }
              ]
          }
        }
    headers:
      Authorization:
      - Bearer Y4qOatLnvfFOu1lPhN2vCVKB0ip1Nl
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Last-Modified:
      - Tue, 25 Jan 2022 19:17:26 GMT
      Etag:
      - W/"1"
      Location:
      - http://fhir-training.canvasmedical.com/Appointment/cb861130-2998-40f8-bf9d-7488cda48c10/_history/1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jan 2022 19:17:26 GMT
recorded_with: VCR 6.0.0
