*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ol,
ul,
fieldset,
legend {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
